<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123712244-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123712244-1');
</script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The online web designer and developer portfolio by Liz.">
    <meta name="keywords" content="Web developer, designer, front end developer, portfolio, resume">
    <meta name="author" content="liz">

    <title>{{page.title}} | Portfolio by Liz</title>

    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    

<script src="//static.tumblr.com/ihhnoee/12Cotb0p2/jquery.style-my-tooltips.js"></script>

<script>
    (function($){
        $(document).ready(function(){
            $("a[title]").style_my_tooltips({
                tip_follows_cursor:false,
                tip_delay_time:100,
                tip_fade_speed:300,
            attribute:"title"
});
});
})(jQuery);
</script>

    <script src="/mid-2018/index.js"></script>
    <link href="/mid-2018/index.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/img/logos/ll-logo-circle.png">

    </head>
    
<body style="margin-top:34px!important;">
  
<div style="position:fixed; top:0; width:100%; background:rgba(244, 236, 230,1); padding:5px; z-index:10000000000; text-align:center;"><a href="https://lizberberena.com" target="_blank" style="color:#4C785D!important;text-decoration:none!important;cursor:pointer!important;font-family: sans-serif !important;font-size: 16px;">Visit my newest portfolio ➞</a></div>
    
        <div class="container-fluid">
            <!-- Mobile Header -->
            <div class="row" id="mobile-menu">
            <div class="col-12">
                <div class="dropdown">
                            <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="{{ site.url }}/img/logos/ll-logo-circle.png" id="mobile-logo" class="img-fluid"><i class="fa fa-plus" aria-hidden="true"></i>
  </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{ site.url }}/mid-2018"><i class="fa fa-fw fa-heart" aria-hidden="true"></i> Work</a>
                                <a class="dropdown-item" href="{{ site.url }}/2018-blog" target="_blank"><i class="fa fa-fw fa-code" aria-hidden="true"></i> Blog</a>
                                <a class="dropdown-item" href="{{ site.url }}/mid-2018/about"><i class="fa fa-fw fa-pencil" aria-hidden="true"></i> About</a>
                                <a class="dropdown-item" href="{{ site.url }}/mid-2018/contact"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i> Contact</a>
                            </div>
                        </div>
</div>
            </div>
            <!-- End Mobile Header -->
            <div class="row" id="menu"> <!-- Header -->
                <div class="col-12">
                    
                        <div class="menu-items">
                            <span>
                        <a href="{{ site.url }}/mid-2018" id="work-link"> Work </a>
                        <a href="{{ site.url }}/2018-blog" target="_blank" id="blog-link"> Blog </a>
                        <a href="{{ site.url }}/mid-2018" title="Portfolio by Liz"><img src="{{ site.url }}/img/logos/ll-logo-circle.png" class="img-fluid" id="logo"></a>
                        <a href="{{ site.url }}/mid-2018/about" id="extra-link"> About </a>
                        <a href="{{ site.url }}/mid-2018/contact" id="contact-link"> Contact </a>
                        </span>
                        </div>
                        
                    
                </div>
            </div> <!-- End Header -->
            
            <div class="row"> <!-- Intro -->
                <div class="col-12">
                    <div id="intro">
                        <p>Hello, this portfolio was made <a class="marking" href="{{ site.url }}" target="_blank" title="{{ site.url }}">by me, Liz</a>, a student front end developer from NJ, USA. See my projects on <a href="https://github.com/lizberberena" target="_blank" title="@LizBerberena">Github</a> or connect with me on <a href="https://linkedin.com/in/lizberberena" target="_blank" title="@LizBerberena">LinkedIn</a>! See all my active profiles <a href="{{ site.url }}/2020/links" target="_blank" title="links">here</a>.</p>
                    </div>
                    <div id="cute-divider"></div>
                </div>
            </div> <!-- End Intro -->
            <div class="row"> <!-- Body -->
                <div class="col-12">
                    
                    {{content}}
                    
                    <div id="cute-divider"></div>
                </div>
            </div> <!-- End Body -->
            <div class="row"> <!-- Footer -->
                <div class="col-12">
                    <div id="footer">
                        <p>© 2017 - <script type="text/javascript">
                                var year = new Date();
                                document.write(year.getFullYear());
                            </script> by Liz Berberena</p>
                    </div>
                </div>
            </div> <!-- End Footer -->
        </div>
        
    </body>
</html>
